.img-carousel {
 width: 900px;
 height: 420px;
 object-fit: cover;
}

.titulo-carousel {
    color: white;
    text-shadow: 2px 2px 4px #4d4848;
    font-size: 20px;
  }

.texto-carousel{
    color: white;
    text-shadow: 2px 2px 4px #4d4848;
    font-size: 15px;
}

body{
    font-family: 'Fredoka One', cursive;
}
h1{
    font-size: 36px !important;
    color: #FF9191;
    text-align: center;
}
h2{
    font-size: 13px !important;
    color: #5B5151;
    text-align: center;
}

#herodiv{
    clear: both;
}
#hero{
    width: 20%;
    margin: auto;
    display: block;
}

.nav-link{
    color: #5B5151 !important;
}

h3{
    font-size: 15px !important;
    color: #5B5151;

}

/* p>a {
	color: #fd084a;
}
.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
} */
